/*universal styles*/
html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
       
}

a {
    color: seashell;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}


.flex-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}



/*header styles*/

header.flex-container {
    justify-content: space-between;
}

header {
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1; 
    border-bottom: 1px solid seashell;
    line-height: 69px;
    
}

header img {
    height: 50px; 
    padding: 25px 50px 10px 10px;
}


nav {
    margin-right: 40px;
    text-align: right;
}

nav span {
    padding: 20px 30px;
    margin-right: 10px;
    flex-grow: 1;
}

/* Main Section */

.main {
    padding-top: 69px;
    opacity: 0.9;
    width: 100%;
    margin: auto;
    
}

/* mission section styles*/

#Mission {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-size: 1150px;
    background-repeat: no-repeat;
    height: 700px;
    margin-top: 70px; 
    position: relative;
    background-position: center;
}

.mission-content {
    width: 1200px;
    margin: auto;
    background-color: black;
    top: 40%;
    position: relative;
    text-align: center; 
}

/* Store section styles*/

#Store {
    width: 1000px; 
    margin: auto;
    text-align: center;
}



.item img {
    height: 200px; 
    width: 300px;
    margin: 10px; 
}

.item span {
    display: block;
    padding: 10px;
}

/* Locations section styles*/

#locations {
    height: 500px;
    width: 100%;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-size: cover;
    padding-top: 70px;
}

.address-box {
    background-color: black;
    
    margin: 15px 40px;
    width: 300px;  
    text-align: center;
    position: relative; 
    top: 35%;
     
    ;
}

#locations h2 {
    color: darkblue;
    text-align: center;
}

#locations p {
    padding: 10px;
}

/* contact section styles*/

#contact {
    height: 200px;
    text-align: center;
}

/* Footer styles*/

footer {
    padding-left: 20px; 
    text-align: left;
}
